@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font: 'Poppins', sans-serif;

@mixin mobile {
    @media screen and (max-width: 767px) {
        @content
    }
}

.theme-light {
    --actionButton: #2A4DD0;
    --greenIcon: #4CA154;
    --Bg: #F2F9FE;
    --lightGray: #909193;
    --text: #223344;
}

.theme-dark {
    --actionButton: #2A4DD0;
    --greenIcon: #4CA154;
    --Bg: #111729;
    --lightGray: #909193;
    --text: white;
}

body {
    min-height: 100vh;
    font-family: $font;
    background-color: var(--Bg);
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 1rem 0 0 4rem ;
    @include mobile() {
        padding: 1rem;
    }

    #white {
        display: none;
    }
}


.topMenu {
    position: absolute;
    z-index: 1;
    top: 0;
    width: auto;
    left: 35%;
    
    li {
        float: left;
        display: block;
        color: var(--lightGray);
        text-align: center;
        padding: .3rem 1rem;
        text-decoration: none;
        font-size: .85rem;
        font-weight: 500;

        &:hover {
            color: var(--text);
            font-weight: 600;
            cursor: pointer;
        }

        @include mobile() {
            display: none;
        }
    }
}

.buttonGroup {
    .menuBtn {
        display: none;
        @include mobile() {
            float: right;
            display: block;
            fill: var(--text);
        }
    }
    .closeBtn {
        display: none;
        @include mobile() {
            display: none;
        }
    }
}

@include mobile() {

    .topMenu.responsive {
        background-color: white;
        padding: 4rem 0 1rem 0;
        min-height: 100vh;
        width: 60%;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0; 

        ul {
            padding: 0;
            margin: 0;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        li {
            font-size: 2rem;
            padding: .8rem 0;
            margin-bottom: .5rem;
            font-weight: 600;
            display: block;
            color: #242942;
            text-decoration: none;
        }
    }
    
    .buttonGroup.responsive {
        .menuBtn {
            display: none;
        }
        .closeBtn {
            display: block;
            position: absolute;
            padding: 1.5rem;
            z-index: 2;
            right: 0;
            top: 0;
        }
    }
    .switch.responsive {
        position: relative;
        display: block;
        inset-inline: 0;
        margin-inline: auto;
    }
}


.switch {
    position: fixed;
    z-index: 1;
    top: 4%;
    right: 3%;
    width: 4rem;
    height: 1.7rem;
    transition: 0.3s ease all;

    @include mobile() {
        display: none;
    }

    input {
        opacity: 0;
        width: 0;
        height: 0;
        

        &:checked + .slider {
            background-color: #223344;
            background-image: url('Images/Sun_light.svg');
            background-repeat: no-repeat;
            background-position: right 15% center;
            background-size: 1.2rem;
        }

        &:focus + .slider {
            outline: none;
        }

        &:checked + .slider:before {
            background-image: url('Images/Moon_dark.svg');
            background-position: center;
            background-size: 90%;
            -webkit-transform: translateX(-26px);
            -ms-transform: translateX(-26px);
            transform: translateX(-26px);
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 8px;
        bottom: 0;
        background-color: #223344;
        background-image: url('Images/Moon_light.svg');
        background-repeat: no-repeat;
        background-position: left 15% center;
        background-size: 1.2rem;
        -webkit-transition: .5s;
        transition: .5s;

        &:before {
            position: absolute;
            content: "";
            height: 1.2rem;
            width: 1.2rem;
            right: 4px;
            bottom: 4px;
            background-color: white;
            background-image: url('Images/Sun_dark.svg');
            background-position: center;
            background-size: 90%;
            -webkit-transition: .5s;
            transition: .5s;
        }
    }

    .slider.round {
        border-radius: 2rem;

        &:before {
            border-radius: 50%;
        }
    }
}

main {
    padding: 0 1rem 0 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    @include mobile() {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    img {
        order: 2;
        margin-top: 2rem;
        max-width: 35rem;
        @include mobile() {
            order: 0;
            margin-top: 1rem;
        }
    }

    section {
        margin-top: 4rem;

        .top-text {
            font-weight: 600;
            color: var(--text);
            margin: 0;
            font-size: .9rem;
        }
    
        h1 {
            font-size: 4rem;
            margin: 1rem 0; 
            color: var(--text);
            line-height: 5rem;
            @include mobile() {
                font-size: 3rem;
            }
        }
    
        .bottom-text {
            color: var(--lightGray);
            max-width: 26rem;
            font-weight: 400;
            font-size: .9rem;
            margin: 1.5rem 0;
        }
    
        button {
            padding: 1rem 1.5rem;
            background-color: var(--actionButton);
            color: white;
            border-radius: .5rem;
            font-weight: 700;
            border: none;
            margin-right: 1.5rem;

            &:hover {
                box-shadow: .1rem .1rem 1rem .2rem #2a4ed072;
                cursor: pointer;
            }
        }    
    
        a {
            color: var(--actionButton);
            text-decoration: underline;
            font-weight: 700;
            font-size: .9rem;

            &:hover {
                cursor: pointer;
            }
        }    
        
        .flex-group {
            display: flex;
            margin-top: 1.5rem;
            @include mobile() {
                display: block;
            }
    
            div {
                display: flex;
                align-items: center;
                column-gap: .3rem;
                margin-right: 1rem;
                color: var(--lightGray);
                font-size: .8rem;
                font-weight: 500;   
            }
        }
    }
}

footer {
    text-align: center;
    font-size: .7rem;
    color: var(--lightGray);

    a {
        color: var(--lightGray);
        text-decoration: none;
        font-weight: 600;

        &:hover {
            color: var(--actionButton);
        }
    }
}
